/* PRIMARY SETTINGS OF PAGE */
body.oc-body {
    background-color: #353839;
}

.white-text {
    color: rgb(248, 249, 250)
}


/* MAIN CONTAINER */
.oc-container {
    margin-top: 30px;
    padding-bottom: 20px;
}

.nav.oc-nav {
    margin-bottom: 30px;
}

/* CONTENT */


/* LANGUAGE FORM CONTAINER */
.oc-language-container {
    margin-bottom: 35px;

}

/* FLASHCARDS */
.oc-flashcard {
    background-color: #0e6775;
}

/* PRONOUNS */
.oc-img {
    width: 600px;
    height: 400px;
    margin: 10px;
}

/* TABLES */


/* EXAM SECTION */
.state-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
